@using Microsoft.AspNetCore.Identity
@using MyMvcNetCore.Entities.Identity

@inject SignInManager<ApplicationUser > SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="menu-area">
    <!-- Main Menu -->
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-collapse">
            <div class="nav-inner">
                <ul class="nav main-menu menu navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Service</a></li>
                    <li>
                        <a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
                        <ul class="dropdown">
                            <li><a href="#">Shop Grid</a></li>
                            <li><a href="#">Cart</a></li>
                            <li><a href="#">Checkout</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Pages</a></li>
                    <li>
                        <a href="#">Blog<i class="ti-angle-down"></i></a>
                        <ul class="dropdown">
                            <li><a href="#">Blog Single Sidebar</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <text>
                        <li>
                            <a href="#">My account<i class="ti-angle-down"></i></a>
                            <ul class="dropdown">

                                <li><a asp-page="/Account/Manage/Index" asp-area="Identity">Profile</a></li>
                                <li><a asp-page="/Account/Manage/ChangePassword" asp-area="Identity">Change password</a></li>
                                <li><a asp-page="/Account/Manage/Email" asp-area="Identity">Manage Email</a></li>

                            </ul>
                        </li>
                        </text>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!--/ End Main Menu -->
</div>